:root {
  --color-primary: #000;
  --color-primary-light: #f7f7f7;
  --secondary-color: #fff;
  --color-pink: #f94e67;
  --color-blue: #019790;
  --color-yellow: #f7c602;

  --font-primary: futura-pt, sans-serif;
  --font-secondary: ff-prater-block-web, sans-serif;
}

html {
  font-family: var(--font-primary);
}
