footer {
  background-color: var(--color-primary-light);
}

li {
  display: inline-block;
}

.footer-nav {
  display: inline;
}

.fb {
  color: var(--color-blue);
}

.fb:hover {
  color: var(--color-primary);
}

.insta {
  color: var(--color-yellow);
}

.insta:hover {
  color: var(--color-primary);
}

.twitter {
  color: var(--color-pink);
}

.twitter:hover {
  color: var(--color-primary);
}
