.btn {
  background-color: var(--color-primary-light);
  border-color: var(--color-blue);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn:hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-primary-light);
  border-radius: 0px;
}

.btn-ghost {
  background-color: var(--color-primary-light);
  border-color: var(--color-yellow);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-ghost:hover {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-pink);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-light:hover {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
  color: var(--color-primary-light);
  border-radius: 0px;
}

.btn-add {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-add:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-light);
  border-radius: 0px;
}

.btn-checkout {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-primary-light);
  border-radius: 0px;
}

.btn-checkout:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-size {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-size:hover {
  background-color: var(--color-blue);
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn-size::selection {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-primary-light);
  border-radius: 0px;
}

.btn-nostock {
  background-color: none;
  border-color: var(--color-primary-light);
  color: var(--color-primary-light);
}

.btn-nostock:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-primary-light);
}
