.btn {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 0px;
}

.btn:hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-primary-light);
  border-radius: 0px;
}
