nav {
  background-color: var(--color-primary-light);
  height: 40px;
}

.nav .headerli {
  list-style-type: none;
  display: inline-block;
}

a {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  text-decoration: none;
  width: 100%;
}

.headerli:hover {
  color: var(--color-primary-light);
}

a:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}

.navshirt:hover {
  background-color: var(--color-blue);
}

.navhoodie:hover {
  background-color: var(--color-pink);
}

.navjacket:hover {
  background-color: var(--color-yellow);
}
