.homebanner {
  width: 100%;
  height: 250px;
  background-color: var(--color-primary-light);
  position: relative;
}

h1 {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

i {
  position: absolute;
  top: 100%;
}

.yellow {
  color: var(--color-yellow);
}

.pink {
  color: var(--color-pink)
}

.blue {
  color: var(--color-blue);
}

.one {
  position: absolute;
  left: 50%;
  bottom: 50%;
  animation: one-move 15s ease infinite alternate;
}

@keyframes one-move {

  0% {
    left: 80%
    bottom: 2%;
  }

  100% {
    left: 10%;
    bottom: 30%;
  }

}

.two {
  position: absolute;
  left: 50%;
  bottom: 50%;
  animation: two-move 15s ease infinite alternate;
}

@keyframes two-move {

  0% {
    left: 10%;
    bottom: 10%;
  }

  100% {
    left: 20%
    bottom: 40%;
  }

}

.three {
  position: absolute;
  left: 50%;
  bottom: 50%;
  animation: three-move 16s ease infinite alternate;
}

@keyframes three-move {

  0% {
    left: 30%
    bottom: 9%;
  }

  100% {
    left: 1%;
    bottom: 30%;
  }

}

.four {
  position: absolute;
  left: 10%;
  bottom: 10%;
  animation: four-move 12s ease infinite alternate;
}

@keyframes four-move {

  0% {
    left: 12%
    bottom: 80%;
  }

  100% {
    left: 23%;
    bottom: 1%;
  }

}

.five {
  position: absolute;
  left: 24%;
  bottom: 24%;
  animation: five-move 12s ease infinite alternate;
}

@keyframes five-move {

  0% {
    left: 23%
    bottom: 89%;
  }

  100% {
    left: 17%;
    bottom: 10%;
  }

}

.six {
  position: absolute;
  left: 89%;
  bottom: 18%;
  animation: six-move 18s ease infinite alternate;
}

@keyframes six-move {

  0% {
    left: 17%
    bottom: 10%;
  }

  100% {
    left: 89%;
    bottom: 3%;
  }

}

.seven {
  position: absolute;
  left: 50%;
  bottom: 50%;
  animation: seven-move 12s ease infinite alternate;
}

@keyframes seven-move {

  0% {
    left: 18%
    bottom: 16%;
  }

  100% {
    left: 48%;
    bottom: 62%;
  }

}

.eight {
  position: absolute;
  left: 50%;
  bottom: 50%;
  animation: eight-move 13s ease infinite alternate;
}

@keyframes eight-move {

  0% {
    left: 89%
    bottom: 1%;
  }

  100% {
    left: 34%;
    bottom: 78%;
  }

}
